 html, body 
 {
    background-image: url('../images/chat-night.png');
    background-color: #636b6f ;
    color: #546e78 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.panel-body {
    padding: 10px;
    padding-left: 50px;
    color: black;
}
.panel-body:hover{
    background-color: #337ab7;
}

.panel-body:hover .panel-child{
	color: white;
}

.panel-child{
	color: #293846;
}

body {
    padding-right: 0 !important;
}
.mywell
{
	color: #000000; 
	padding:10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	background:linear-gradient(rgb(42, 136, 190),silver) fixed;
}

.mywell1
{
	color: #000000; 
	min-height:0px;
	padding:15px;
	/*margin-bottom:5px;
	margin-top:px;
	margin-right:2px;
	margin-left:2px;*/
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	background:linear-gradient(rgb(244, 246, 247),silver) fixed;
	/*padding-left:20px;
	height:100%;
	width:100%;
	margin:0px auto;*/
}
.mywell2
{
	COLOR: #000000; 
	min-height:0px;
	padding:auto;
	margin-bottom:5px;
	margin-top:px;
	margin-right:2px;
	margin-left:18px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	background:linear-gradient(rgb(244, 246, 247),silver) fixed;
	/*padding-left:20px;
	height:100%;
	margin:0px auto;*/
	width:97%;
}
.myformcontrol
{
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #e5e6e7;
	border-radius: 5px;
	color: inherit;
	display: display;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 98%;
	font-size: 14px;
}
.mustred{
	color: red;
}

.mybody{
	
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #FFFFFF; 
	COLOR: #000000; 
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
	SCROLLBAR-ARROW-COLOR: #FFFFFF; 
	SCROLLBAR-TRACK-COLOR: #FFFFFF; 
	/* font-family: Verdana, Arial, Helvetica, sans-serif ; */
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
	background-repeat: repeat-x;
	background-position:top;
	/*background: linear-gradient(#ff0000,white);*/
	SCROLLBAR-FACE-COLOR:#900000;
	/*background:linear-gradient(#900000,white);*/
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	SCROLLBAR-SHADOW-COLOR: #FFFFFF;
	SCROLLBAR-FACE-COLOR:#900000;
	 
}

.mypicwell
{
	COLOR: #000000; 
	min-height:0px;
	padding:8px;
	margin-bottom:0px;
	margin-top:0px;
	margin-top:0px;
	background-color: #f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	background:linear-gradient(rgb(244, 246, 247),white) fixed;
}
.myredBtn
{

	margin-top:25px;
	margin-right:-70px;
	margin-left: 2px;
	background-color: #ed5565;
	color: #FFFFFF;
	display: inline-block;
	padding:7px 40px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.myblueBtn
{
	margin-top:30px;
	margin-right:125px;
	margin-left: 2px;
	background-color: #337ab7;
	color: #FFFFFF;
	display: inline-block;
	padding:8px 40px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.pagelogo img {
	/*margin: 6px 0 0 0;*/
	height: 55px;
    width:55px;
    border-radius:50%;
    vertical-align: middle;
    text-align: right;
    background-repeat: no-repeat;background-position: center;background-size:cover;
}
/*.pagelogo:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}*/
.myImgDiv
{
	    background-repeat: no-repeat;
        height:170px;
        width: 170px;
        margin: 10px auto;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        transition: 0.3s;
        vertical-align: middle;
        text-align: center;
        border-radius:10px 10px 10px 10px;
        box-shadow: 0px 0px 6px grey;
        background-size:cover;
        cursor:pointer;
}
.mrg-bot15 {
	margin-bottom: 15px;
}
.mrg-top24 {
	margin-top: 24px;
}
.btn-custom {
	padding: 5px 40px;
}
label {
    font-weight: 600;
}
.table-danger{
	background-color: #f2dede !important;
}